- title "#{@project.name}: Milestones", action: :clear

%p= link_to "New milestone", new_project_milestone_path, class: "btn btn-info"

- if @milestones.any?
  %table.table
    %thead
      %tr
        %th Title
        %th Due date
    = render @milestones
- else
  %h2 No milestones
