- title "Dashboard"

.row
  - if @active_tasks_by_projects.any?
    .col-md-3
      %h3 Active tasks
    .col-md-9
      - @active_tasks_by_projects.each do |project, tasks|
        = link_to project, class: "list-group-item active" do
          %h4= project.name
        %ul.list-group= render tasks, hide_assignee: true
  - else
    %h3 Nothing to do. Yay!
