/*
 *= require_self
 *= require bootstrap_and_overrides
 *= require font-hauptstimme
 */

#loader {
  display: none;
}

blockquote.comment {
  small {
    margin-bottom: 15px;
  }
}

footer {
  color: gray;
  border-top: 1px solid #ccc;
  margin-top: 60px;
  .container {
    margin: 20px auto;
  }
  #links {
    a {
      color: gray;
      text-decoration: none;
      margin-left: 7px;
      &:hover { color: black; }
    }
  }
}

.link-danger {
  color: #ff0039;
  &:hover { color: #d60030; }
}
