/*
 *= require_self
 *= require_tree .
 */

footer {
  margin-top: 50px;
  color: gray;
  .container {
    margin: 20px auto;
    vertical-align: middle;
    #links {
      a {
        color: gray;
        text-decoration: none;
        &:hover {
          color: black;
        }
      }
    }
  }
}
