/*
 *= require cosmo
 *= require bootstrap_overrides
 *= require font-hauptstimme
 *= require spinner
 *= require select2/select2
 *= require select2/select2-bootstrap
 *= require_self
 */

blockquote.comment, blockquote.task-details {
  small, .small {
    margin-bottom: 15px;
  }
}

blockquote small:before {
  content: "";
}

.list-group-item.task-details {
  small {
    display: inline-block;
  }
}

.comment {
  > small > .links {
    display: none;
  }
  &:hover {
    > small > .links {
      display: inline;
    }
  }
}

footer {
  color: gray;
  border-top: 1px solid #ccc;
  margin-top: 35px;
  .container {
    margin: 20px auto;
  }
  #links {
    a {
      color: gray;
      text-decoration: none;
      margin-left: 7px;
      &:hover { color: black; }
    }
  }
}

.link-danger {
  color: #ff0039;
  &:hover { color: #d60030; }
}

.diff-explain {
  p { font-size: inherit !important; }
  display: none;
  margin-top: 15px;
  margin-bottom: 0 !important;
}

#api-key {
  display: none;
}

#api-key-toggle {
  width: 22px;
  .fa-unlock {
    display: none;
  }
}

.list-group-item.active a {
  color: white;
}

.completed-task a {
  color: gray;
  text-decoration: line-through;
}
