.container
  Taskie revision
  = link_to REVISION[0..8], "https://github.com/hauptstimme/taskie/commit/#{REVISION}"
  .pull-right#links
    = link_to "https://github.com/Hauptstimme/taskie", target: "_blank" do
      %i.fa.fa-github.fa-2x
    = link_to "https://hauptstimme.github.io/projects", target: "_blank" do
      %i.hauptstimme-icon.hauptstimme-icon-main.hauptstimme-large
